@model CloudBackup.Database.ViewModel.CreateModel.PlatformInsertModel
@{
    Layout = "_ModalLayout";
}
@section Scripts{
<script src="~/Scripts/platform_new.js"></script>
    <script>
        $(document).ready(function () {
        platform_new.init('@Model.HashedPlatformId','@Model.Type');
        @if(Model.CloseModal)
        {
            @:top.$('#modal-').modal('toggle');
        }

        $(".CloseModal").click(function () {
                    top.$('#modal-').modal('toggle');
                });
        });
    </script>
}
@section Heads {

}

<div class="modal-header">
    <button type="button" class="close CloseModal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Platform Ekle</h4>
</div>
<form role="form" asp-controller="Platform" asp-action="New">
    <div class="modal-body">
        <input type="hidden" asp-for="HashedPlatformId" />
        <!-- text input -->
        <div class="form-group">
            <label>Platform Adı </label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Platform İsmi Giriniz">
        </div>
        <!-- text input -->
        <div class="form-group">
            <label>Platform Tipi </label>
            <select  class="form-control" asp-for="Type">
               
                @foreach(var item in Enum.GetValues(typeof( CloudBackup.Database.Enum.PlanType)))
                {
                    <option value="@((int)item)">@item.ToString()</option>

                }
            </select>
        </div>
        
        <div id="dvContent" style="@((String.IsNullOrEmpty(Model.HashedPlatformId) == true && Model.Type == CloudBackup.Database.Enum.PlanType.GoogleDrive) ? "display:none;" : "display:block;")"></div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left CloseModal" data-dismiss="modal">Kapat</button>
        @if (String.IsNullOrEmpty(Model.HashedPlatformId))
        {
            <button type="submit" class="btn btn-primary">Ekle</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Düzenle</button>
        }
    </div>

</form>
